@import 'tailwindcss';

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;

  --color-primary: #1e293b;
  --color-secondary: #0271e8;
  --color-secondary-hover: #025bb5;

  --color-tertiary: #67768e;
  --color-neutral: #f2f5f7;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}

@layer utilities {
  /* Backgrounds */
  .bg-background {
    background-color: var(--color-background);
  }

  .bg-primary {
    background-color: var(--color-primary);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .bg-neutral {
    background-color: var(--color-neutral);
  }
  .bg-tertiary {
    background-color: var(--color-tertiary);
  }

  /* Text */
  .text-neutral {
    color: var(--color-neutral);
  }

  .text-primary {
    color: var(--color-primary);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .text-tertiary {
    color: var(--color-tertiary);
  }

  /* Borders */
  .border-primary {
    border-color: var(--color-primary);
  }

  .border-secondary {
    border-color: var(--color-secondary);
  }
}

@layer components {
  .btn-primary {
    background-color: var(--color-secondary);
    color: var(--color-neutral);
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 0.5rem;
    transition: background-color 200ms;
    cursor: pointer;
  }

  .btn-primary:hover {
    background-color: var(--color-secondary-hover);
  }

  .navlink {
    color: var(--color-tertiary);
    font-weight: 500;
    transition: color 200ms;
    cursor: pointer;
  }

  .navlink:hover {
    color: var(--color-secondary);
  }

  .title {
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-primary);
    font-size: 2.25rem;
  }

  @media (min-width: 640px) {
    .title {
      font-size: 2.75rem;
    }
  }

  @media (min-width: 1024px) {
    .title {
      font-size: 3rem;
    }
  }

  .subtitle {
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-tertiary);
    font-size: 1rem;
  }

  @media (min-width: 640px) {
    .subtitle {
      font-size: 1.125rem;
    }
  }

  @media (min-width: 1024px) {
    .subtitle {
      font-size: 1.25rem;
    }
  }
}
